/*-------------------
    reset
-------------------*/

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body {
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*-------------------
    BEM
-------------------*/

body {
  --color-background: #457b9d;
  --color-highlight: #1d3557;
  --font-size-large: 2rem;
  --font-size-medium: 1.5rem;
  --font-size-small: 1.15rem;
}

.header {
  background-color: var(--color-background);
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.25rem auto;
}

.header__name {
  margin: 0.5rem 0 0.15rem;
  font-size: var(--font-size-large);
  cursor: pointer;
  border-bottom: 1px solid transparent;
}

.header__name--input {
  margin: 0.5rem 0 0.15rem;
  font-size: var(--font-size-large);
  font-family: inherit;
  border-style: none;
  padding: 0;
  border-width: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--color-highlight);
  color: white;
  text-align: center;
}

.header__name--input:focus {
  outline: none;
}

.header__title {
  margin: 0 0 0.15rem 0;
  cursor: pointer;
  font-size: var(--font-size-medium);
  border-bottom: 1px solid transparent;
}

.header__title--input {
  margin: 0 0 0.15rem 0;
  font-size: var(--font-size-medium);
  font-family: inherit;
  border-style: none;
  padding: 0;
  border-width: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--color-highlight);
  color: white;
  text-align: center;
}

.header__title--input:focus {
  outline: none;
}

.header__contact {
  margin: 0.15rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.header__main-contact {
  width: 90%;
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid white;
}

.header__main-contact div {
  width: 33%;
  text-align: center;
}

.header__contact-item {
  cursor: pointer;
  font-size: var(--font-size-small);
  border-bottom: 1px solid transparent;
}

.header__contact-item--input {
  font-size: var(--font-size-small);
  font-family: inherit;
  border-style: none;
  padding: 0;
  border-width: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--color-highlight);
  color: white;
  text-align: center;
  width: 100%;
}

.header__contact-item--input:focus {
  outline: none;
}

.header__links {
  width: 90%;
  margin: 0.15rem 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.header__links-header {
  cursor: grabbing;
  font-size: var(--font-size-small);
}

.header__links-item {
  margin: 0 1rem;
  cursor: pointer;
  font-size: var(--font-size-small);
  border-bottom: 1px solid transparent;
}

.header__links-item--input {
  font-size: var(--font-size-small);
  font-family: inherit;
  border-style: none;
  padding: 0;
  border-width: 0;
  background-color: inherit;
  border-bottom: 1px solid var(--color-highlight);
  color: white;
  text-align: center;
  width: 90%;
}

.header__links-item--input:focus {
  outline: none;
}

.header__links-delete {
  cursor: pointer;
  margin-left: 0.5rem;
}
