.skills__header {
  font-size: 1.5rem;
  margin: 0.5rem 0;
  border-bottom: 2px solid #457b9d;
  border-top: 2px solid #457b9d;
  font-weight: 600;
  cursor: grabbing;
}

.skills__text {
  font-size: 1.15rem;
  margin-left: 1rem;
  cursor: pointer;
}

.skills__input {
  font-size: 1.15rem;
  font-family: inherit;
  margin-left: 1rem;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid #1d3557;
  width: 80%;
  padding: 0;
}

.skills__input:focus {
  outline: none;
}

.skills__delete {
  margin-left: 0.5rem;
  cursor: pointer;
}
